
.head{
	height: 50px;
	width: 100%;
	border-top: 2px solid #4FC08D;
	border-bottom: 1px solid #ECECEC;
}
.head-content{
	width: 70%;
	margin: 0 auto;
}
.head-logo{
	float: left;
	width: 100px;
	height: 50px;
}
.head-logo a{
	line-height: 50px;
}
.head-logo img{
	width: 35px;
}
.head-search{
	float: left;
	width: 400px;
	height: 50px;
}
.head-search input{
	border: none;
	width: 362px;
	background-color: #F2F2F5;
	margin-right: 18px;
	height: 83%;
	height: 26px;
	outline: none;
}
.head-search img{
	width: 20px;
	position: absolute;
	right: 4px;
	top: 3px;
}
.search{
	height: 28px;
	border: 1px solid #ECECEC;
	background-color: #F2F2F5;
	border-radius: 4px;
	margin-top: 10px;
	position: relative;
}

.user img{
	width: 40px;
	height: 40px;
	border-radius:20px;
}
.user{
	cursor: pointer;
	float: left;
	margin-left: 300px;
	line-height: 48px;
}
.tuichu{
	float: right;
	line-height: 48px;
}