body{
	background-image: url(../images/menghuan.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: initial;
}
.container{
	width: 845px;
	height: 100%;
	margin: 0 auto;
}
.left{
	float: left;
}
.box{
	width: 600px;
	height: auto;
	background-color: white;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px #CCCCCC;
}
.box-top{
	height: 66px;
	margin-left: 13px;
}
.box-top-left{
	float: left;
	text-align: center;
	line-height: 66px;
}
.box-top-left img{
	width: 56px;
	height: 56px;
	border-radius: 28px;
}
.box-top-right{
	float: left;
	margin-left: 6px;
}
.mid{
	margin-top: 10px;
}
.top-name{
	font-weight: 600;
	font-size: 16px;
}
.top-time{
	margin-top: 4px;
	font-size: 14px;
}
.box-middle{
	margin-left: 73px;
	width: 500px;

	font-size: 15px;
}
.box-middle-text{
	overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
}
.box-middle-img{
	width: 500px;

	margin-top: 10px;
}
.box-middle-img img{
	width: 160px;
	height: 160px;
	margin-top: 4px;
}
.box-foot{
	border-top: 1px solid #ececec;
	text-align: center;
	height: 38px;
	margin-top: 7px;
}
.box-foot-a{
	margin-top: 8px;
}
.box-foot a{
	display: inline-block;
	width: 145px;
	height: 30px;
	font-size: 15px;
	border-right: 1px solid #ECECEC;
}
.right{
	width: 230px;
	float: right;
	margin-left: 15px;
	margin-top: 15px;
	background-color: white;
		border-radius: 5px;
	box-shadow: 0 0 10px #CCCCCC;
}
.right-top{
	height: 172px;
}
.right-top-img{
	width: 100%;
	height: 70px;
	background-image: url(../images/5755037373826825257.jpg);
}
.right-top-img div{
	width: 66px;
	margin: 0 auto;
}
.right-top div img{
	width: 66px;
	height: 66px;
	border-radius: 33px;
	margin-top: 30px;
}
.right-top-mid{
	margin-top: 30px;
	text-align: center;
	font-weight: 600;
}
.right-top-foot{
	margin-top: 4px;
}
.right-top-foot-1 div{
	display: inline-block;
	width: 50px;
	border-right: 1px solid #CCCCCC;
	margin-left: 22px;
}
.right-top-foot-1 div span{
	color: #808080;
	font-size: 14px;
}
.middle{
	width: 230px;
	height: max-content;
	float: right;
		background-color: white;
		border-radius: 5px;
	box-shadow: 0 0 10px #CCCCCC;
	margin-top: 15px;
}
.middle-1{
	height: 36px;
	border-bottom: 1px solid #ececec;
	line-height: 36px;
	font-size: 16px;
	padding-left: 16px;
}
.middle-2 ul{
	padding: 0;
	margin: 0;
}
.middle-2 li{
	height: 33px;
	line-height: 33px;
}
.middle-2 li span{
	float: right;
	font-size: 13px;
	color: #808080;
	margin-right: 10px;
		white-space: nowrap;
	overflow: hidden;
}
.middle-2 li a{
	float: left;
	font-size: 15px;
	margin-left: 15px;
	white-space: nowrap;
	overflow: hidden;
}
.user-tuijian{
		width: 230px;
	height: 322px;
	float: right;
		background-color: white;
		border-radius: 5px;
	box-shadow: 0 0 10px #CCCCCC;
	margin-top: 15px;
}
.user1-left{
	float: left;
	width: 60px;
	height: 70px;
	line-height: 70px;
}

.user1-left img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.user1-right{
	height: 70px;
	width: 115px;
	line-height: 70px;
}
.user1{
	width: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #ececec;
	cursor: pointer;
}
.user1-right:hover{
	color: #4FC08D;
}
.user-top{
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #ececec;
}

.user1-right {
	float: left;
}

.guanzhu {
	float: right;
	width: 20px;
	height: 70px;
	line-height: 70px;
}

.guanzhu img {
	width: 20px;
	height: 20px;
}
.user-top-left{
	float: left;
	width: 140px;
	padding-left: 15px;
	/* color: #4FC08D; */
}
.user-top-right img{
	width: 20px;
	height: 20px;
}
.user-top-right span{
	font-size: 14px;
	cursor: pointer;
}
.user-top-right:hover{
	color: #4FC08D;
}
.userr:hover{
	color: #4FC08D;
}
.userr{
	cursor: pointer;
}
.fabu{
	width: 600px;
	height: auto;
	background-color: white;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px #CCCCCC;
}
.fabu-mid{
	border: 1px solid #CCCCCC;
	padding: 5px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
}
.fabu-foot{
	float: right;
	margin-top: 8px;
	margin-bottom: 8px;
}
.fabu-btn{
		display: inline-block;
	height: 28px;
	line-height: 29px;
	width: 60px;
	font-size: 14px;
	background: #4FC08D;
    color: #fff;
    border: 1px solid #2f8cff;
    box-shadow: none;
    cursor: pointer;
}
.fabu-top{
	height: 39px;
	line-height: 39px;
}
.fabu-top img{
	height: 20px;
}
.fabu-box{
	width: 570px;
	margin: 0 auto;
}
    .upload_warp_img_div_del {
      position: absolute;
      top: 6px;
      width: 16px;
      right: 4px;
    }

    .upload_warp_img_div_top {
      position: absolute;
      top: 0;
      width: 100%;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.4);
      line-height: 30px;
      text-align: left;
      color: #fff;
      font-size: 12px;
      text-indent: 4px;
    }

    .upload_warp_img_div_text {
      white-space: nowrap;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .upload_warp_img_div img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }

    .upload_warp_img_div {
      position: relative;
      height: 100px;
      width: 120px;
      border: 1px solid #ccc;
      margin: 0px 30px 10px 0px;
      float: left;
      line-height: 100px;
      display: table-cell;
      text-align: center;
      background-color: #eee;
      cursor: pointer;
    }

    .upload_warp_img {
      border-top: 1px solid #D2D2D2;
      padding: 14px 0 0 14px;
      overflow: hidden
    }

    .upload_warp_text {
      text-align: left;
      margin-bottom: 10px;
      padding-top: 10px;
      text-indent: 14px;
      border-top: 1px solid #ccc;
      font-size: 14px;
    }

    .upload_warp_right {
      float: left;
      width: 57%;
      margin-left: 2%;
      height: 100%;
      border: 1px dashed #999;
      border-radius: 4px;
      line-height: 130px;
      color: #999;
    }

    .upload_warp_left img {
      margin-top: 32px;
    }

    .upload_warp_left {
      float: left;
      width: 40%;
      height: 100%;
      border: 1px dashed #999;
      border-radius: 4px;
      cursor: pointer;
    }

    .upload_warp {
      margin: 14px;
      height: 130px;
    }

    .upload {
      border: 1px solid #ccc;
      background-color: #fff;
      width: 570px;
      box-shadow: 0px 1px 0px #ccc;
      border-radius: 4px;
    }

    .hello {
      text-align: center;
	  margin-top: 10px;
    }
	
	.del-btn {
		cursor: pointer;
		position:absolute;
		top:10px;
		right:10px;
		width: 15px;
		opacity: 0.5;
	}
	
	.del-btn:hover {
		opacity: 1;
	}