body{
	background-image: url(../images/timg.jpg);
	text-align: inherit;
}
.font{
	width: 390px;
	height: 101px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 100px;
}

.container{
	width: 600px;
	height: 530px;
	margin: 0 auto;
	margin-top: 50px;
	  box-shadow: 0 0 10px rgba(0,0,0,.15);
	  background-color: white;
	  opacity: 0.8;
	  border-radius: 10px;
}
.box{
	width: 600px;
	height: 80px;
}
.box-left,.box-right{
	float: left;
}
.box-left{
	width: 200px;
	line-height: 80px;
	text-align: center;
}
.box-right{
	line-height: 80px;
	width: 266px;
		position: relative;
}
.uu input{
	width: 200px;
	height: 26px;
}
.box-right img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.update{
	font-size: 14px;
	color: #0099FF;
	margin-left: 10px;
	cursor: pointer;
	position: absolute;
	right: 0;
}
.box-right input{
	display: none;
}
